@page
@{
    ViewData[index: "Title"] = "Login";
}
<body>
    <div class="title">
        <h2 class="text-center mb-4">Iniciar Sesión</h2>
        <br />
        <div class="mb-3">
            <label class="form-label">Usuario</label>
            <input class="form-control" placeholder="Ingrese su usuario" />
        </div>
        <br />
        <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <input type="password" class="form-control" placeholder="Ingrese su contraseña" />
        </div>

        <button type="submit" onclick="location.href='/home'" class="btn btn-primary w-100">Ingresar</button>
    </div>
</body>